<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5>Add File to Evidence</h5>
    </div>
    <div class="modal-body">
      <div id="files">
        <table class="table">
          <!--<thead>
            <th><span class="glyphicon glyphicon-check"></span></th>
            <th>File name</th>
          </thead>-->
          <tbody></tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <!--<button type="button" class="btn-primary" data-dismiss="modal" aria-label="Close">Close</button>-->
    </div>
  </div>
</div>