<div class="modal-content">
  <div class="modal-header">
    <h5>Add File to Evidence for {{ name }}</h5>
  </div>
  <div class="modal-body">
    <div ng-show="loading" style="text-align: center"><img src="ajax-loader.gif" width="32" height="32"></div>
    <div id="files">
      <table class="table">
        <tbody>
          <tr ng-repeat="file in files">
            <td style="width: 100px"><input type="checkbox" ng-model="file.selected" ng-change="addFile(file, $parent.getRowIndex(name))"/ ></td>
            <td class="file">
              <a href="{{ file.alternateLink }}" target="_blank"><img ng-src="{{ file.iconLink }}" />{{ file.title }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
  </div>
</div>