<div class="panel panel-default widget">
  <div class="panel-heading">
    <h3 class="panel-title">{{ title }}</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <td ng-repeat="column in columns">{{ column.name }}</td>
        </tr>
        <tr ng-repeat="row in data track by $index">
          <td ng-repeat="column in columns">{{ getValue($parent.$index, column.value) }}</td>
        </tr>
      </thead>
    </table>
  </div>
  <div class="panel-footer">Add more...
  </div>
</div>