#widgets div.widget {
  vertical-align: top;
}
.widget {
  margin-left: 50px;
  margin-right: 50px;
}

#productName {
  font-weight: bold;
}
.modal-dialog {
  width: 80%;
}
.modal-dailog h2 {
  text-align: center;
}
.modal-dialog .bootstrap-tagsinput {
  width: 100%;
}
.bootbox .modal-dialog {
  text-align: center;
}
.bootbox .modal-content {
  width: 200px;
  display: inline-block;
}
#trendCategories {
  position: absolute;
}
#trendSummary table tbody tr.label {
  display: table-row;
}
#trendSummary table tbody tr.label td {
  display: table-cell;
}
#trendSummary table {
  margin-top: 20px;
}
.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

tags-input .tags .tag-item {
  padding: 0 !important;
  float: none !important;
  font: inherit !important;
  height: auto !important;
  border: 0 !important;
  background: none !important;
  cursor: pointer;
}

ul.trend-types {
  list-style-type: none;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
ul.trend-types li {
  color: black;
  cursor: pointer;
  padding: 3px 20px;
}
ul.trend-types li:hover {
  background-color: #f5f5f5;
}
.pointer {
  cursor: pointer;
}
#empathyMapTable .ReactTags__tagInput {
  display: none;
}
#empathyMapTable .tag-wrapper.selected {
  border: 3px black solid;
}

.tag {
  display: inline-block;
  cursor: grab;
}
.trendItem {
  margin: 2px;
  padding: 0 0 0 5px;
  display: inline-block;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* height: 26px; */
  line-height: 25px;
  border-radius: 3px;
  /* background-color: #337ab7; */
  color: #fff;
  font-weight: 700;
  cursor: pointer !important;
}
.objective {
  background-color: red;
}
.goal {
  background-color: purple;
}
.activity {
  background-color: blue;
}
.task {
  background-color: green;
}
.resource {
  background-color: gray;
}
.readOnly {
  padding: 0 5px;
}
.removeButton {
  background-color: transparent;
  height: 22px;
  border-radius: 5px;
  float: right;
  margin: 2px 0 0 5px;
  font-size: 12px;
  line-height: 12px;
}
.removeButton:hover {
  background-color: rgba(204, 204, 204, 0.5);
}
.dropzone {
  border: 1px black dotted;
}

#journeyMap nav {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 400px;
}

#journeyMap #body {
  margin-left: 400px;
}

.modeButton {
  background-color: #efefef;
  font-size: 80;
}

.modeButton.active {
  background-color: #bbbbbb;
}

#journeyMap #body #flowchartArea {
  height: 100%;
}
